<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="Ezra.Droid">
	<uses-sdk android:minSdkVersion="21" />
	<application android:label="Ezra.Droid" android:theme="@style/MyTheme"></application>
</manifest>